.ctreeview {
    overflow: auto;
}

.ctreeview ul {
    padding: 0 0 0 30px;
    margin: 0;
}

.ctreeview > ul {
    padding-left: 0;
}

.ctreeview > ul li span.glyphicon {
    cursor: pointer;
}

.ctreeview > ul li {
    list-style-type: none;
    padding-top: 5px;
}

.ctreeview > ul > li:first-child {
    padding-top: 0;
}

/*.ctreeview > ul li:hover {*/
/*background-color: rgba(0, 0, 0, 0.025);*/
/*}*/

.ctreeview .ctreeview-nochevron {
    margin-right: 19px;
}

.ctreeview > ul .glyphicon {
    margin-right: 5px;
}

.ctreeview > ul .glyphicon-chevron-down,
.ctreeview .ctreeview-child {
    display: none;
}

.ctreeview .ctreeview-item-label {
    margin-left: 5px;
}
